In [1]:
import pandas as pd
import numpy as np

In [4]:
col_names = ['sepal_length', 'sepan_width', 'petal_leangth', 'petal_width', 'type']

In [12]:
df = pd.read_csv("D:\\Codes\\iris.data", header = None, names = col_names)
df.head()

   sepal_length  sepan_width  petal_leangth  petal_width         type
0           5.1          3.5            1.4          0.2  Iris-setosa
1           4.9          3.0            1.4          0.2  Iris-setosa
2           4.7          3.2            1.3          0.2  Iris-setosa
3           4.6          3.1            1.5          0.2  Iris-setosa
4           5.0          3.6            1.4          0.2  Iris-setosa

In [10]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['type'] = label_encoder.fit_transform(df['type'])
df['type'].unique()

array([0, 1, 2])

In [11]:
df.head()

   sepal_length  sepan_width  petal_leangth  petal_width  type
0           5.1          3.5            1.4          0.2     0
1           4.9          3.0            1.4          0.2     0
2           4.7          3.2            1.3          0.2     0
3           4.6          3.1            1.5          0.2     0
4           5.0          3.6            1.4          0.2     0

In [13]:
# Node class
class Node():
    def __init__(self, feature_index = None, threshold = None, 
                left = None, right = None, info_gain = None,
                value = None):
        # for decision node
        self.feature_index = feature_index
        self.threshold = threshold
        self.left = left
        self.right = right
        self.info_gain = info_gain
        # for leaf node
        self.value = value

In [ ]:
# Tree Class 
class DecisionTreeClassofoer():
    def __init__(self, min_sample_split = 2, max_depth = 2):
        self.root = None